body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 { background-image: url('https://www.daisoeshop.com/images/catalog_images/1623403863.jpg'); }
.img2 { background-image: url('https://i.ytimg.com/vi/mGCX_8dfF_A/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBM6jf4T3FVDzLetQIjlfT7WNutnQ'); }

.caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    font-size: 2rem;
    border-radius: 10px;
}

.content {
    color: white;
    background-color: black;
    text-align: center;
    padding: 100px 50px;
}