body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.cell-one {
    background-color: #c0ca83;
    border: 1px solid black;
    text-align: center;
}

.cell-two {
    background-color: #f6bcab;
    border: 1px solid black;
    text-align: center;
}